/* Required styles for the main app only. */
body {padding-top: 60px;}

.profile-pic-small {
  margin-top: 5px;
}

.discussion-post:before {
	display: block;
	content: " ";
	margin-top: -50px;
	height: 50px;
	visibility: hidden;
}