// Custom vars
@dark-gray: #293036;
@gray: #595959;
@orange: #ff4a44;
@white: #fff;
@green: #82b964;

// Override Glyphicons font path
// -------------------------
@glyphicons-font-path:          "/assets/fonts";